<form method="post" action="{{ action }}">
	<div class="form-group">
		<label class="control-label">Primeiro Nome</label>
		<input class="form-control" type="text" placeholder="Primeiro Nome" 
			name="first_name" value="{{ user.first_name }}"/>
		<label class="control-label">Último Nome</label>
		<input class="form-control" type="text" placeholder="Ùltimo Nome" 
			name="last_name" value="{{ user.last_name }}"/>
		<label class="control-label">E-mail</label>
		<input class="form-control" type="text" placeholder="E-mail" 
			name="email" value="{{ user.email }}"/>
		{% if user.id is null %}	
		<label class="control-label">Senha</label>
		<input class="form-control" type="text" placeholder="Senha" name="password"/>
		{% endif %}
	</div>
	<button type="submit" class="btn btn-primary btn-block">
		<span class="glyphicon glyphicon-{{ submitIcon }}"></span>
	</button>
</form>
